.heart {
    width: 50px;
    height: 50px;
    background-color: rgb(248, 41, 41);
    transform: rotate(45deg);
    position: relative;
}

.heart::before {
    width: 25px;
    height: 25px;
    background-color: rgb(248, 41, 41);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: -12px;
    left: 0px;
}

.heart::after {
    width: 25px;
    height: 25px;
    background-color: rgb(248, 41, 41);
    border-radius: 50%;
    content: "";
    position: absolute;
    top: -12px;
    left: 12px;
}

@keyframes pulsar {}