.spinner{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #000;

    animation: girar 1s linear infinite;
}

@keyframes girar{
    to{
        transform: rotate(360deg);
    }
}