.post-container{
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}

h2{
    margin-bottom: 5px;
}

h2::first-letter{
    font-size: 1.5em;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
