*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
}