* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --body: rgb(233, 230, 230);
    --main: rgb(242, 245, 245);
}

body {
    display: grid;
    grid-template-columns: auto 98% auto;
    justify-items: center;
    background-color: var(--body);
    margin-top: 7px;
    gap: 5px;
}

#root {
    grid-column: 2 / 3;
    border-radius: 5px;
    width: 100%;
    background-color:var(--main);
}

.search {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    width: 98%;
    margin: 15px 10px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    width: 50%;
    border-radius: 4px;

}

.search-icon {
    width: 25px;
    height: 25px;
}

.search-box>input {
    border-left: none;
    width: 100%;
    border-style: none;
    padding: 3px 5px;
}
.search-box>input:focus {
    outline: none;
}

.search>button {
    padding: 7px 20px;
    border-radius: 4px;
    background-color: rgb(131, 112, 236);
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}