.container-list {
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;

}

.status-container {
    display: flex;
    padding: 10px;
    gap: 5px;
    font-size: 12px;
    color: #666;
}

.descricao-container {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #444;
}