* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --secondary-color: #f8fafb;
  --background-color: #f8f9fa;
  --text-color: #333;
}

body,
html {
  scroll-behavior: smooth;
}

.App {
  display: grid;
  grid-template-columns: auto 25% 37% 37% auto;
  gap: 10px;
  width: 97vw;
}

.perfil-section {
  grid-column: 2 / 3;
  position: sticky;
  z-index: 1000;
  top: 65px;
  height: 86vh;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
  background-color: var(--secondary-color);
}

.content {
  grid-column: 3 / 5;
  padding: 10px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foto-perfil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 5px solid var(--primary-color);
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.foto-perfil:hover {
  transform: scale(1.05);
}

.perfil-section>.perfil-description {
  text-align: center;
  padding: 8px;
  text-indent: 20px;
  border-radius: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 8px;
}

.links-images {
  width: 50px;
  height: 50px;
  filter: grayscale(1);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.links-images:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.links-images:active {
  filter: grayscale(0);
}

.skill-section,
.education,
.projects {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
}

.education-list {
  display: flex;
  flex-flow: column;
  padding: 8px 2px;
  gap: 10px;
}

.education-item {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  border-left: 10px solid var(--primary-color);
  transition: border-left-width 0.3s ease-in-out;
}

.education-item:hover {
  border-left: 20px solid var(--primary-color-hover);
}

.project-list {
  display: flex;
  flex-flow: column;
  padding: 8px 2px;
  gap: 10px;
}

.project-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  border-left: 10px solid var(--primary-color);
  transition: border-left-width 0.3s ease-in-out;

  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  max-width: 82%;
}

.project-info>a {
  text-decoration: none;
  color: red;
  font-style: italic;
}

.project-image {
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.project-item:hover {
  border-left: 20px solid var(--primary-color-hover);
}

.project-item>h3 {
  background-color: var(--primary-color);
}

.project-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width:768px) and (max-width: 1280px) {
  .App {
    grid-template-columns: auto 24% 36% 36% auto;
  }

  .perfil-section {
    height: 80vh;
  }
}


@media screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    width: 97vw;
  }

  .content {
    max-width: none;
  }

  .perfil-section {
    height: 65vh;
    position: inherit;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
  }


  .project-item {
    flex-direction: column-reverse;
    border-left: none;
  }

  .project-item:hover {
    border-left: none;
  }

  .project-image {
    width: 100%;
  }
}